class Order
  attr_accessor :items

  <spot>def calculate_total</spot>(tax_rate)
    total = 0

    items.each do |item|
      total += item.price * item.quantity
    end

    tax = (tax_rate / 100.0) * total

    total + tax
  end
end
